<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Home - Gestão de Cinema</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema de Gerenciamento de Cinema</h1>
    <p>Acesse as sessões disponiveis e aproveite a pipoca🍿.</p>

    <div class="button-container">
        <a href="/session-customer" class="btn">Ir para sessões</a>
        <a href="/profile-customer" class="btn">Perfil</a>

    </div>
</body>
<script src="../static/js/index.js"></script>

</html>
