<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Home - Gestão de Cinema</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema de Gerenciamento de Cinema</h1>
    <p>Gerencie facilmente filmes, sessões, salas e ingressos do seu cinema. Clique em uma das opções abaixo para começar:</p>

    <div class="button-container">
        <a href="/movies" class="btn">Gerenciar Filmes</a>
        <a href="/rooms" class="btn">Gerenciar Salas</a>
        <a href="/tickets" class="btn">Gerenciar Ingressos</a>
        <a href="/sessions" class="btn">Gerenciar Sessões</a>
    </div>
</body>
</html>
