<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link href="../static/icons/favicon.png" rel="icon" type="image/png"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../static/css/home.css" rel="stylesheet">
    <title>Home - Gestão de Cinema</title>
</head>
<body>
<h1>Bem-vindo ao Sistema de Gerenciamento de Cinema</h1>
<p>Gerencie facilmente filmes, sessões, salas e ingressos do seu cinema. Clique em uma das opções abaixo para
    começar:</p>

<div class="button-container">
    <a class="btn" href="/movies">Gerenciar Filmes</a>
    <a class="btn" href="/rooms">Gerenciar Salas</a>
    <a class="btn" href="/sessions">Gerenciar Sessões</a>
    <a class="btn" href="/tickets">Gerenciar Ingressos</a>
    <a class="btn" href="/profile-admin">Perfil</a>
</div>
</body>
<script src="../static/js/index.js"></script>

</html>
