<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../static/icons/favicon.png" rel="icon" type="image/png"/>

    <link href="../static/css/home.css" rel="stylesheet">
    <title>Home - Gestão de Cinema</title>
</head>
<body>
<h1>Bem-vindo ao Sistema de Gerenciamento de Cinema</h1>
<p>Acesse as sessões disponiveis e aproveite a pipoca🍿.</p>

<div class="button-container">
    <a class="btn" href="/session-customer">Ir para sessões</a>
    <a class="btn" href="/profile-customer">Perfil</a>

</div>
</body>
<script src="../static/js/index.js"></script>

</html>
