<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../static/icons/favicon.png" rel="icon" type="image/png"/>

    <link href="../static/css/index.css" rel="stylesheet">
    <title>Bem-vindo - Gestão de Cinema</title>
</head>
<body>
<h1>Bem-vindo ao Sistema de Gerenciamento de Cinema</h1>
<p>Escolha como deseja acessar o sistema:</p>

<div class="button-container">
    <a class="btn" href="/login-admin">Entrar como Administrador</a>
    <a class="btn" href="/login-customer">Entrar como Cliente</a>
</div>
</body>
</html>
