<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/icons/favicon.png"/>

    <link rel="stylesheet" href="../static/css/index.css">
    <title>Bem-vindo - Gestão de Cinema</title>
</head>
<body>
<h1>Bem-vindo ao Sistema de Gerenciamento de Cinema</h1>
<p>Escolha como deseja acessar o sistema:</p>

<div class="button-container">
    <a href="/login-admin" class="btn">Entrar como Administrador</a>
    <a href="/login-customer" class="btn">Entrar como Cliente</a>
</div>
</body>
</html>
