<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../static/icons/favicon.png" rel="icon" type="image/png"/>

    <title>Gerenciamento de Filmes</title>
    <link href="../static/css/movies.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Gerenciamento de Filmes</h1>

    <form id="movieForm">
        <label for="title">Título</label>
        <input id="title" name="title" placeholder="Digite o título do filme" required type="text">

        <label for="genre">Gênero</label>
        <input id="genre" name="genre" placeholder="Digite o gênero do filme" required type="text">

        <label for="synopsis">Sinopse</label>
        <textarea id="synopsis" name="synopsis" placeholder="Digite a sinopse do filme" required rows="4"></textarea>

        <label for="duration">Duração (min):</label>
        <input id="duration" name="duration" placeholder="Digite a duração do filme" required type="number">

        <label for="age_rating">Classificação indicativa</label>
        <input id="age_rating" name="age_rating" placeholder="Digite a classificação indicatica" required type="number">

        <label for="director">Diretor</label>
        <input id="director" name="director" placeholder="Digite o nome do diretor" required type="text">

        <label for="release_date">Lançamento</label>
        <input id="release_date" name="release_date" required type="date">

        <button class="add-movie" type="submit">Adicionar filme</button>
    </form>
</div>

<div class="movie-list container" id="movieList">
    <h2>Lista de Filmes</h2>
    <div class="movie-container">
    </div>
</div>

<div class="modal hidden" id="edit-modal">
    <div class="modal-content">
        <h2>Editar Filme</h2>
        <form id="editMovieForm">
            <input id="movie_id_edited" type="hidden"/>

            <label for="title_edited">Título:</label>
            <input id="title_edited" name="title_edited" required type="text"/>

            <label for="genre_edited">Gênero:</label>
            <input id="genre_edited" name="genre_edited" required type="text"/>

            <label for="synopsis_edited">Sinopse:</label>
            <textarea id="synopsis_edited" name="synopsis_edited" required rows="4"></textarea>

            <label for="duration_edited">Duração (min):</label>
            <input id="duration_edited" name="duration_edited" required type="number"/>

            <label for="age_rating_edited">Classificação indicativa:</label>
            <input id="age_rating_edited" name="age_rating_edited" required type="number"/>

            <label for="director_edited">Diretor:</label>
            <input id="director_edited" name="director_edited" required type="text"/>

            <label for="release_date_edited">Lançamento:</label>
            <input id="release_date_edited" name="release_date" required type="date"/>

            <button type="submit">Salvar</button>
            <button id="close-modal" type="button">Cancelar</button>
        </form>
    </div>
</div>

<div class="dialog-overlay hidden" id="dialog-overlay">
    <div class="dialog-box">
        <p id="dialog-message">Você tem certeza que deseja excluir este filme?</p>
        <div class="dialog-actions">
            <button id="dialog-confirm">Confirmar</button>
            <button id="dialog-cancel">Cancelar</button>
        </div>
    </div>
</div>

</body>
<script src="../static/js/movies.js"></script>
<script src="../static/js/index.js"></script>

</html>
