<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../static/icons/favicon.png" rel="icon" type="image/png"/>

    <link href="../static/css/register.css" rel="stylesheet">
    <title>Cadastro de Cliente</title>
</head>
<body>
<div class="register-container">
    <h2>Cadastro de Cliente</h2>

    <form enctype="multipart/form-data" id="register-form">
        <div class="form-group">
            <label for="photo">Foto de Perfil</label>
            <input accept="image/*"
                   class="photo-input"
                   id="photo"
                   name="photo"
                   type="file">
            <small>Selecione uma imagem</small>
            <div class="photo-preview" id="photo-preview" style="display: none;">
                <img alt="Pré-visualização da Foto" id="preview-image" src="#">
            </div>
        </div>
        <div class="username">
            <div class="form-group">
                <label for="first_name">Nome</label>
                <input id="first_name" name="first_name" placeholder="Digite seu nome" required type="text">
            </div>
            <div class="form-group">
                <label for="last_name">Sobrenome</label>
                <input id="last_name" name="last_name" placeholder="Digite seu sobrenome" required type="text">
            </div>
        </div>
        <div class="form-group">
            <label for="age">Idade</label>
            <input id="age" name="age" placeholder="Digite sua idade" required type="number">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" name="email" placeholder="Digite seu email" required type="email">
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input id="password" name="password" placeholder="Crie uma senha" required type="password">
        </div>
        <div class="form-group">
            <label for="address">Endereço</label>
            <input id="address" name="address" placeholder="Digite seu endereço" required type="text">
        </div>
        <div class="city-state">
            <div class="form-group">
                <label for="city">Cidade</label>
                <input id="city" name="city" placeholder="Digite sua cidade" required type="text">
            </div>
            <div class="form-group">
                <label for="state">Estado</label>
                <input id="state" name="state" placeholder="Digite seu estado" required type="text">
            </div>
        </div>
        <div class="cep-country">
            <div class="form-group">
                <label for="zip_code">CEP</label>
                <input id="zip_code" name="zip_code" placeholder="Digite seu CEP" required type="text">
            </div>
            <div class="form-group">
                <label for="country">País</label>
                <input id="country" name="country" placeholder="Digite seu país" required type="text">
            </div>
        </div>

        <button class="register-btn" type="submit">Cadastrar</button>
        <div class="login-link">
            <a href="/login-customer">Já tem uma conta? Faça login</a>
        </div>
    </form>
</div>

</body>
<script src="../static/js/register-customer.js"></script>
</html>
