<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../static/icons/favicon.png" rel="icon" type="image/png"/>

    <link href="../static/css/session.css" rel="stylesheet">
    <title>Sessões Disponíveis</title>
</head>
<body>

<div class="session-list container" id="sessionList">
    <h2>Lista de Sessões</h2>
    <div class="session-container">
    </div>
</div>

<div class="dialog-overlay hidden" id="dialog-overlay">
    <div class="dialog-box">
        <p id="dialog-message">Confirmar compra de reserva?</p>
        <div class="dialog-actions">
            <button id="dialog-confirm">Confirmar</button>
            <button id="dialog-cancel">Cancelar</button>
        </div>
    </div>
</div>

</body>
<script src="../static/js/session-customer.js"></script>

<script src="../static/js/index.js"></script>

</html>
