<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/session.css">
    <title>Sessões Disponíveis</title>
</head>
<body>

<div class="session-list container" id="sessionList">
    <h2>Lista de Sessões</h2>
    <div class="session-container">
    </div>
</div>

<div id="dialog-overlay" class="dialog-overlay hidden">
    <div class="dialog-box">
        <p id="dialog-message">Confirmar compra de reserva?</p>
        <div class="dialog-actions">
            <button id="dialog-confirm">Confirmar</button>
            <button id="dialog-cancel">Cancelar</button>
        </div>
    </div>
</div>

</body>
<script src="../static/js/session-customer.js"></script>
</html>
