<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../static/icons/favicon.png" rel="icon" type="image/png"/>

    <link href="../static/css/session.css" rel="stylesheet">
    <title>Gerenciar Sessões</title>
</head>
<body>
<div class="container">
    <h2>Gerenciar Sessões</h2>
    <form id="sessionForm">
        <div class="form-group">
            <label for="movieId">ID do filme</label>
            <input id="movieId" min="0" name="movieId" placeholder="Digite o ID do filme" required type="number">
        </div>
        <div class="form-group">
            <label for="roomNumber">Número da sala</label>
            <input id="roomNumber" min="0" name="roomNumber" placeholder="Digite o número da sala" required
                   type="number">
        </div>
        <div class="form-group">
            <label for="startTime">Data e horário de inicio</label>
            <input id="startTime" name="startTime" placeholder="Digite a data e horario de inicio" required
                   type="datetime-local">
        </div>
        <div class="form-group">
            <label for="endTime">Data e horário de término</label>
            <input id="endTime" name="endTime" placeholder="Digite a data e horario de término" required
                   type="datetime-local">
        </div>
        <div class="form-group">
            <label for="sessionValue">Valor da sessão</label>
            <input id="sessionValue" min="0" name="sessionValue" placeholder="Digite o valor da sessão" required
                   step="0.01" type="number">
        </div>
        <div class="form-group">
            <label for="language">Idioma do filme</label>
            <input id="language" name="language" placeholder="Digite o idioma do filme" required type="text">
        </div>
        <div class="form-group radio-group">
            <label>Legendado</label>
            <div class="radio-box">
                <input id="yes" name="subtitles" required type="radio" value="yes">
                <label for="yes">Sim</label>
            </div>
            <div class="radio-box">
                <input id="no" name="subtitles" required type="radio" value="no">
                <label for="no">Não</label>
            </div>
        </div>
        <button class="add-btn" type="submit">Adicionar</button>

    </form>

</div>
<div class="session-list container" id="sessionList">
    <h2>Lista de Sessões</h2>
    <div class="session-container">
    </div>
</div>

<div class="modal hidden" id="edit-modal">
    <div class="modal-content">
        <h2>Editar Sala</h2>
        <form id="editSessionForm">
            <input id="session_id_edited" type="hidden"/>

            <div class="form-group">
                <label for="movieIdEdited">ID do filme</label>
                <input id="movieIdEdited" min="0" name="movieIdEdited" placeholder="Digite o ID do filme" required
                       type="number">
            </div>
            <div class="form-group">
                <label for="roomNumberEdited">Número da sala</label>
                <input id="roomNumberEdited" min="0" name="roomNumberEdited" placeholder="Digite o número da sala"
                       required type="number">
            </div>
            <div class="form-group">
                <label for="startTimeEdited">Data e horário de inicio</label>
                <input id="startTimeEdited" name="startTimeEdited" placeholder="Digite a data e horario de inicio"
                       required type="datetime-local">
            </div>
            <div class="form-group">
                <label for="endTimeEdited">Data e horário de término</label>
                <input id="endTimeEdited" name="endTimeEdited" placeholder="Digite a data e horario de término"
                       required type="datetime-local">
            </div>
            <div class="form-group">
                <label for="sessionValueEdited">Valor da sessão</label>
                <input id="sessionValueEdited" min="0" name="sessionValueEdited" placeholder="Digite o valor da sessão" required
                       step="0.01" type="number">
            </div>
            <div class="form-group">
                <label for="languageEdited">Idioma do filme</label>
                <input id="languageEdited" name="languageEdited" placeholder="Digite o idioma do filme" required
                       type="text">
            </div>
            <div class="form-group radio-group">
                <label>Legendado</label>
                <div class="radio-box">
                    <input id="yesEdited" name="subtitlesEdited" required type="radio" value="yes">
                    <label for="yesEdited">Sim</label>
                </div>
                <div class="radio-box">
                    <input id="noEdited" name="subtitlesEdited" required type="radio" value="no">
                    <label for="noEdited">Não</label>
                </div>
            </div>

            <button type="submit">Salvar</button>
            <button id="close-modal" type="button">Cancelar</button>
        </form>
    </div>
</div>

<div class="dialog-overlay hidden" id="dialog-overlay">
    <div class="dialog-box">
        <p id="dialog-message">Você tem certeza que deseja excluir esta sessão?</p>
        <div class="dialog-actions">
            <button id="dialog-confirm">Confirmar</button>
            <button id="dialog-cancel">Cancelar</button>
        </div>
    </div>
</div>

</body>
<script src="../static/js/session.js"></script>
<script src="../static/js/index.js"></script>

</html>
