<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../static/icons/favicon.png" rel="icon" type="image/png"/>

    <link href="../static/css/ticket.css" rel="stylesheet">
    <title>Bilhetes</title>
</head>
<body>

<div class="ticket-list container" id="ticketList">
    <h2>Bilhetes Vendidos</h2>
    <div class="ticket-container">
    </div>
</div>


</body>
<script src="../static/js/ticket.js"></script>
<script src="../static/js/index.js"></script>

</html>
