<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/icons/favicon.png"/>

    <link rel="stylesheet" href="../static/css/ticket.css">
    <title>Bilhetes</title>
</head>
<body>

<div class="ticket-list container" id="ticketList">
    <h2>Bilhetes Vendidos</h2>
    <div class="ticket-container">
    </div>
</div>


</body>
<script src="../static/js/ticket.js"></script>
<script src="../static/js/index.js"></script>

</html>
